<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>NPJ - UNIPAC</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link th:href="@{/css/login.css}"  rel="stylesheet" />
	</head>
	<body>
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <div class="text-center"><strong>Dúvidas:</strong> Entre em contato com o número: (32) 3339-4949.</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-4">
					<div class="account-wall">
						<img th:src="@{/img/logo_unipac.png}"/>
						<h1 class="text-center login-title">Login do usuário - NPJ UNIPAC</h1>
						<div th:if="${param.error}" class="alert alert-danger">
							<p class="text-center>"><strong>Usuário ou senha inválidos.</strong></p>
					    </div>
						<div th:if="${param.logout}" class="alert alert-info">
							<p class="text-center>"><strong>Você foi desconectado.</strong></p>
					    </div>
						<form th:action="@{/auth/login}" method="post" class="form-signin">
							<input type="text" name="username" class="form-control" placeholder="Usuário" required="required" />
							<input type="password" name="password" class="form-control" placeholder="Senha" required="required" />
							<input class="btn btn-lg btn-default btn-block active" type="submit" value="Acessar"/>
						</form>
<!-- 						<a th:href="@{/auth/register}" class="text-center new-account">Não tenho o meu login</a>
						<a th:href="@{/account/forgot-password}" href="#" class="text-center new-account">Não tenho minha senha</a> -->
					</div>
					<br/>
					<center><p style="color:#FFF">Universidade Presidente Antônio Carlos - UNIPAC</p></center>
				</div>
			</div>
			
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
