<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Intranet - UNIPAC</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link th:href="@{/css/login.css}"  rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-6 col-md-offset-3">
					<div class="account-wall">
<!-- 						<img class="img-responsive center-block" th:src="@{/img/logo_unipac.png}"/> -->
						<h1 class="text-center login-title">Cadastramento de Usuário - Primeiro Acesso - Intranet</h1>
						
						<form th:action="@{/login}" method="post" class="form-signin">
							<div class="form-group">
								<label for="cpf">CPF:</label>
								<input type="text" name="username" class="form-control" placeholder="Identificação" required="required" />
							</div>
							<div class="form-group">
							<label for="vinculo">Vínculo:</label>
								<select class="form-control" required="required">
								  <option selected="selected">Selecionar</option>
								  <option>Professor</option>
								  <option>Técnico-Administrativo</option>
								</select>
							</div>
							<div class="form-group">
								<label for="vinculo">Senha:</label>
								<input type="password" class="form-control" id="pwd" placeholder="Senha" required="required"/>
							</div>
							<div class="form-group">
								<label for="vinculo">Confirmação da senha:</label>
								<input type="password" class="form-control" id="pwd" placeholder="Confirmação" required="required"/>
							</div>
							<div class="form-group">
								<label for="vinculo">Seu email na Instituição:</label>
								<input type="email" class="form-control" id="pwd" placeholder="email@unipac.br" required="required"/>
							</div>
							<hr/>
							<input class="btn btn-lg btn-default btn-block active" type="submit" value="Cadastrar" required="required"/>
						</form>
						
					</div>
				</div>
			</div>
			
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
