<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="npj/default :: head">
	</head>
	<body>
	<div th:replace="npj/default :: navbar"></div>
	
	<div class="container-fluid main-container">
		<div th:replace="npj/default :: sidebar"></div>
		
		
		<div class="col-md-10 content">
		
			<div class="panel panel-default panel-color2">
				<div class="panel-heading">Cadastro de Alunos</div>
				<div class="panel-body">
										<div th:if="${#vars['success']}"  class="alert alert-success alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong th:text="${#vars['success']}">Better check yourself, you're not looking too good.</strong>
						</div>
			<div class="col-md-8">
			<form class="form-horizontal" th:action="@{/npj/create}"  th:object="${alunos}" method="POST">
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="nome">Nome</label>
			      <div class="controls">
			        <input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="" class="form-control" required="required"/>
<!-- 			        <p class="help-block">Username can contain any letters or numbers, without spaces</p> -->
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- E-mail -->
			      <label class="control-label" for="pai">Pai</label>
			      <div class="controls">
			        <input type="text" th:field="*{pai}" id="pai" name="pai" placeholder="" class="form-control" />
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="mae">Mãe</label>
			      <div class="controls">
			        <input type="text" th:field="*{mae}" id="mae" name="mae" placeholder="" class="form-control" required="required"/>

			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- Password -->
			      <label class="control-label"  for="naturalidade">Naturalidade</label>
			      <div class="controls">
			        <input type="text" th:field="*{naturalidade}" id="naturalidade" name="naturalidade" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			    	<label class="control-label"  for="estado_civil">Estado civil:</label>
			    	<select th:field="*{estado_civil}"  required="required" class="form-control" >
			    	  <option value="" selected="selected">Selecionar</option>	
					  <option value="Solteiro(a)">Solteiro(a)</option>
					  <option value="Casado(a)">Casado(a)</option>
					  <option value="Separado(a) Judicialmente">Separado(a) Judicialmente</option>
					  <option value="Divorciado(a)">Divorciado(a)</option>
					  <option value="Viúvo(a)">Viúvo(a)</option>
					</select>
			    </div>
			    
			    <div class="control-group">

			      <label class="control-label"  th:field="*{data_nascimento}" for="data_nascimento">Data de Nascimento</label>
			      <div class="controls"> 
			        <input type="text" id="data_nascimento" name="data_nascimento" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
	
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{rg}" for="rg">RG</label>
			      <div class="controls">
			        <input type="text" id="rg" name="rg" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{cpf}" for="cpf">CPF (obrigatório)</label>
			      <div class="controls">
			        <input type="text" id="cpf" name="cpf" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{tel}"  for="telefone">Telefone</label>
			      <div class="controls">
			        <input type="text" id="tel" name="tel" placeholder="" class="form-control"/>
			      </div>
			    </div>
			    
			    
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{cel}" for="celular">Celular</label>
			      <div class="controls">
			        <input type="text" id="cel" name="cel" placeholder="" class="form-control"/>
			      </div>
			    </div>
			    
			    <div class="control-group">
			      <label class="control-label"  th:field="*{end_rua}" for="rua">Rua</label>
			      <div class="controls">
			        <input type="text" id="end_rua" name="end_rua" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{end_numero}" for="numero">Número</label>
			      <div class="controls">
			        <input type="text" id="end_numero" name="end_numero" placeholder="" class="form-control"  required="required"/>
			      </div>
			    </div>
			    
			    
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{end_bairro}" for="bairro">Bairro</label>
			      <div class="controls">
			        <input type="text" id="end_bairro" name="end_bairro" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{end_cidade}" for="cidade">Cidade</label>
			      <div class="controls">
			        <input type="text" id="end_cidade" name="end_cidade" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label" th:field="*{end_cep}" for="cep">CEP</label>
			      <div class="controls">
			        <input type="text" id="end_cep" name="end_cep" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label"  for="uf">UF</label>
			    	<select th:field="*{end_uf}" class="form-control" required="required">
					  <option value="MG">Minas Gerais</option>
					</select>
			    </div>
			    
			 	<hr/>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success">Registrar Aluno</button>
			      </div>
			    </div>
			</form>
			</div>
				</div>
			</div>

		</div>
	</div>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>
