<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:fragment="head">
		<title>Área Administrativa - NPJ</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link th:href="@{/css/dashboard.css}"  rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>
	</head>
	<body>
	
	<div>
		<div th:fragment="sidebar" class="col-md-2 sidebar" style="background-color:#FFF;">
			<ul class="nav nav-pills nav-stacked">
				<li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/npj/page') ? 'active':''}"><a th:href="@{/npj/}">Gerenciar Alunos</a></li>
				<li th:classappend="${#httpServletRequest.getRequestURI() == '/npj/registrar-aluno' ? 'active':''}"><a th:href="@{/npj/registrar-aluno}">Cadastro de Alunos <!-- class="active" --></a></li>
			</ul>
		</div>
	</div>
	
	<nav th:fragment="navbar" class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					 Núcleo de Prática Jurídica - NPJ
				</a>
			</div>
	
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown ">
						<a th:inline="text" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							[[${#httpServletRequest.getRemoteUser()}]]
							<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li class=""><a href="#">Alterar senha</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/auth/logout}">Sair</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
	</nav>
	
	

	
		<div th:fragment="js">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			<script th:src="@{/js/angular.js}"  type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		</div>
	</body>
</html>
