<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="npj/default :: head">
	</head>
	<body>
	<div th:replace="npj/default :: navbar"></div>
	
	<div class="container-fluid main-container">
		<div th:replace="npj/default :: sidebar"></div>
		
		
		<div class="col-md-10 content">
		
			<div class="panel panel-default panel-color2">
				<div class="panel-heading">Cadastro de Alunos</div>
				<div class="panel-body">
						<div th:if="${#vars['success']}"  class="alert alert-success alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong th:text="${#vars['success']}">Better check yourself, you're not looking too good.</strong>
						</div>
			<div class="col-md-8">
			<form class="form-horizontal" th:action="@{/npj/edit/alunos/update}"
						th:object="${nform}" method="POST">

			    <div class="control-group">
			      <label class="control-label" for="nome">ID Aluno</label>
			      <div class="controls">
			        <input type="text" th:value="${id}" th:id="id" th:name="id" readonly="readonly" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>						
						
			    <div class="control-group">
			      <label class="control-label" for="nome">Nome</label>
			      <div class="controls">
			        <input type="text" th:value="${nome}" th:id="nome" th:name="nome" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <label class="control-label" for="pai">Pai</label>
			      <div class="controls">
			        <input type="text" th:value="${pai}" th:id="pai" th:name="pai" placeholder="" class="form-control"/>
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <label class="control-label" for="mae">Mãe</label>
			      <div class="controls">
			        <input type="text" th:value="${mae}" th:id="mae" th:name="mae" placeholder="" class="form-control" required="required"/>

			      </div>
			    </div>
			 
			 	<div class="control-group">
			 		<label class="control-label" for="naturalidade">Naturalidade</label>
			 		<div class="controls">
			 			<input type="text" th:value="${naturalidade}" th:id="naturalidade" th:name="naturalidade" placeholder="" class="form-control" required="required"/>
			 		</div>
			 	</div>
			 	
			 	<div class="control-group">
			 		<label class="control-label" for="estado_civil">Estado Civil</label>
			 		<div class="controls">
			 			<select th:name="estado_civil" th:id="estado_civil"  required="required" class="form-control">
			 				<option th:value="${estado_civil}" th:text="${estado_civil}" selected="selected"></option>
			 				<option value="Solteiro(a)">Solteiro(a)</option>
			 				<option value="Casado(a)">Casado(a)</option>
			 				<option value="Separado(a) Judicialmente">Separado(a) Judicialmente</option>
			 				<option value="Divorciado(a)">Divorciado(a)</option>
			 				<option value="Viúvo(a)">Viúvo(a)</option>
			 			</select>
			 		</div>
			 	</div>		
			  
<!-- 			    <div class="control-group">
			      <label class="control-label" th:id="data_nascimento" th:name="data_nascimento" for="data_nascimento">Data de Nascimento</label>
			      <div class="controls"> 
			        <input type="text" th:value="${data_nascimento}" id="data_nascimento" name="data_nascimento" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div> -->
			    
			    <div class="control-group">
			      <label class="control-label"  for="rg">RG</label>
			      <div class="controls">
			        <input type="text" th:id="rg" th:name="rg" th:value="${rg}" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    

			    <div class="control-group">
			      <label class="control-label"  for="cpf">CPF (obrigatório)</label>
			      <div class="controls">
			        <input type="text" th:value="${cpf}" th:id="cpf" th:name="cpf" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			     
			    <div class="control-group">
			      <label class="control-label" for="telefone">Telefone</label>
			      <div class="controls">
			        <input type="text" th:value="${telefone}" th:id="tel" th:name="tel" placeholder="" class="form-control"/>
			      </div>
			    </div>
			    
			    
			    
			    <div class="control-group">
			      <label class="control-label" for="celular">Celular</label>
			      <div class="controls">
			        <input type="text" th:value="${celular}" th:id="cel" th:name="cel" placeholder="" class="form-control"/>
			      </div>
			    </div>	
			    
			   
			    <div class="control-group">
			      <label class="control-label"   for="rua">Rua</label>
			      <div class="controls">
			        <input type="text" th:value="${rua}" th:id="end_rua" th:name="end_rua" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label" for="numero">Número</label>
			      <div class="controls">
			        <input type="text" th:value="${numero}" th:id="end_numero" th:name="end_numero" placeholder="" class="form-control"  required="required"/>
			      </div>
			    </div>
			    
			     
			    <div class="control-group">
			      <label class="control-label" for="bairro">Bairro</label>
			      <div class="controls">
			        <input type="text" th:value="${bairro}" th:id="end_bairro" th:name="end_bairro" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label" for="cidade">Cidade</label>
			      <div class="controls">
			        <input type="text" th:value="${cidade}" th:id="end_cidade" th:name="end_cidade" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    
			    
			    <div class="control-group">
			      <label class="control-label" for="cep">CEP</label>
			      <div class="controls">
			        <input type="text" th:value="${cep}" th:id="end_cep" th:name="end_cep" placeholder="" class="form-control" required="required"/>
			      </div>
			    </div>
			    

			    <div class="control-group">
			      <label class="control-label"  for="uf">UF</label>
			    	<select th:id="end_uf" th:name="end_uf" class="form-control" required="required">
					  <option th:value="${uf}" th:text="${uf}"></option>
					</select>
			    </div> 
			    
			 	<hr/>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success">Atualizar Aluno</button>
			      </div>
			    </div>
			</form>
			</div>
				</div>
			</div>

		</div>
	</div>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>
