<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="npj/default :: head">
	</head>
	<body>
	<div th:replace="npj/default :: navbar"></div>

	<div class="container-fluid main-container">
		<div th:replace="npj/default :: sidebar"></div>
		
		<div class="col-md-10 content">

            <div class="panel panel-default panel-table panel-color1 ">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Lista de Alunos </h3>

                  </div>
                  <div class="col col-xs-6 text-right">
		            <form th:action="@{/npj/aluno/search}" method="GET">
		                <div class="input-group">
		                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
		                    <input class="form-control" id="system-search" name="q" placeholder="Buscar aluno" required="required" />
		                    <span class="input-group-btn">
		                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
		                    </span>
		                </div>
		            </form>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list table-hover">
                  <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
<!--                         <th class="hidden-xs">ID</th> -->
                        <th>NOME</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr th:each="test : ${allist}">
                            <td align="center">
<!--                               <a class="btn btn-default btn-sm"><em class="fa fa-pencil"></em></a> -->
                              <a th:href="${'/npj/edit/notas' + '/' + test.id}" class="btn btn-default btn-sm"><em class="fa fa-university"></em></a>
                              <a th:href="${'/npj/edit/alunos' + '/' + test.id}" class="btn btn-default btn-sm"><em class="fa fa-pencil-square-o"></em></a>
                            </td>
                            <td th:text="${test.nome}"></td>
                          </tr>
                          
                        </tbody>
                </table>
            
              </div>
              <div class="panel-footer">
                <div class="row">
<!--                   <div class="col col-xs-4">Page 1 of 5
                  </div> -->
                  <div class="col col-xs-8">
                    <ul th:each="test : ${#numbers.sequence(beginIndex,endIndex)}" class="pagination hidden-xs pull-right">
                      <li><a th:href="@{|${baseUrl}${test}}" th:text="${test}">1</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
		</div>
	</div>
		
		<div th:replace="npj/default :: js"></div>
	</body>
</html>
