<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="npj/default :: head">
</head>
<style type="text/css">
.capa {
	display: none;
}

.logoprint {
	display: none;
}

.rodapeprint {
	display: none;
}

@media print {

	* {
		margin: 0 !important;
		padding: 0px !important;
	}
	html, body, h1, h2, h3, h4 {
		line-height: 1.3;
		font-size: 7.5pt;
	}
	.panel {
		border: none;
	}
	.sidebar {
		visibility: hidden;
	}
	.btn {
		visibility: hidden;
	}
	.capa {
		text-align: center;
		display: inline;
	}
	.logoprint {
		display: inline;
	}
	.rodapeprint {
		text-align: center;
		display: inline;
	}
	.capa h1 {
		font-size: 13px;
	}
	.capa h1, h2, h3, h4 {
		font-weight: normal;
	}
	.page-header {
		margin-top: 20px;
	}
	.visitas {
		background-color: #999;
		/* page-break-before: always; */
	}
	
	table {
		/* display: inline-block; */
		display:block;

		
	}
	
	td {
   		border-spacing: 15px;
   		border-collapse: separate;
	}
	



}
</style>


<body ng-app="webApp">

	<div th:replace="npj/default :: navbar"></div>

	<div class="container-fluid main-container">
		<div th:replace="npj/default :: sidebar"></div>
		<p class="text-align"><img height="50" class="logoprint center-block"
			src="http://www.unipac.br/Barbacena/img/logo_unipac.png" /></p>
		<div class="col-md-10 content">
			<div class="capa">
				<h1>UNIVERSIDADE PRESIDENTE ANTÔNIO CARLOS - UNIPAC</h1>
				<h2>FACULDADE DE CIÊNCIAS JURÍDICAS E SOCIAIS - FADI</h2>
				<h3>NÚCLEO DE PRÁTICAS JURÍDICAS - NPJ</h3>
				<h3>BARBACENA - MG</h3>
			</div>

			<div class="panel panel-default panel-table">
				<div class="panel-heading">
					<div class="row">
						<div class="col col-xs-6">
							<h3 class="panel-title">
								<strong>Ficha de Estágio Curricular</strong>
							</h3>

						</div>


					</div>
				</div>
				<div class="panel-body">
					<div class="page-header">
						<h4 th:text="'Código: ' + ${id_aluno}"></h4>
						<h4 th:text="'Aluno: ' + ${nome}"></h4>

						<div th:if="${#vars['success']}"
							class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong th:text="${#vars['success']}"></strong>
						</div>
						
						<div th:if="${#vars['visitassuccess']}"
							class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong th:text="${#vars['visitassuccess']}"></strong>
						</div>
						
						<div th:if="${#vars['visitasdeleted']}"
							class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong th:text="${#vars['visitasdeleted']}"></strong>
						</div>
					</div>

					<div class="col-sm-3 col-xs-3">

						<div class="col-padding ">
							<h3>Sétimo período</h3>


							<table class="table table-condensed table-hover">
								<!-- On rows -->

								<!-- On cells (`td` or `th`) -->
								<tr>
									<td class="active" th:text="'Ano: ' + ${sete_ano}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Semestre: ' + ${semestre7}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Área: ' + ${sete_area}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Prof: ' + ${sete_prof}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Situação: ' + ${sete_situacao}"></td>
								</tr>
								<tr>
									<td class="active" th:text="'1° Nota: ' + ${sete_nota_1}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'2° Nota: ' + ${sete_nota_2}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'3° Nota: ' + ${sete_nota_3}"></td>
								</tr>

								<tr>
									<td class="active"
										th:text="'Frequência: ' + ${sete_frequencia}"></td>
								</tr>


								<tr>
									<td class="active"
										th:text="'Nota Final: ' + ${sete_nota_final}"></td>
								</tr>


								<tr>
									<td class="active" th:text="'Obs: ' + ${sete_obs}"></td>
								</tr>


								<tr>
									<td class="active"><strong th:switch="${sete_apto}">
											<label th:case="1">APTO</label> <label th:case="0">INAPTO</label>
											<label th:case="2">A CURSAR</label>
									</strong></td>
								</tr>


								<tr>
									<td class="active"><strong>Fechamento</strong></td>
								</tr>
								<tr>
									<td class="active">
										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#setimo_periodo">
											<em class="fa fa-pencil"></em>
										</button>
									</td>
								</tr>

							</table>








						</div>
					</div>
					
					
					
					<div class="col-sm-3 col-xs-3">
						<div class="col-padding">
							<h3>Oitavo período</h3>


							<table class="table table-condensed table-hover">
								<tr>
									<td class="active" th:text="'Ano: ' + ${oito_ano}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Semestre: ' + ${semestre8}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Área: ' + ${oito_area}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Prof: ' + ${oito_prof}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Situação: ' + ${oito_situacao}"></td>
								</tr>
								<tr>
									<td class="active" th:text="'1° Nota: ' + ${oito_nota_1}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'2° Nota: ' + ${oito_nota_2}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'3° Nota: ' + ${oito_nota_3}"></td>
								</tr>

								<tr>
									<td class="active"
										th:text="'Frequência: ' + ${oito_frequencia}"></td>
								</tr>


								<tr>
									<td class="active"
										th:text="'Nota Final: ' + ${oito_nota_final}"></td>
								</tr>


								<tr>
									<td class="active" th:text="'Obs: ' + ${oito_obs}"></td>
								</tr>


								<tr>
									<td class="active"><strong th:switch="${oito_apto}">
											<label th:case="1">APTO</label> <label th:case="0">INAPTO</label>
											<label th:case="2">A CURSAR</label>
									</strong></td>
								</tr>


								<tr>
									<td class="active"><strong>Fechamento</strong></td>
								</tr>
								<tr>
									<td class="active">
										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#oitavo_periodo">
											<em class="fa fa-pencil"></em>
										</button>
									</td>
								</tr>

							</table>



						</div>
					</div>
					<div class="col-sm-3 col-xs-3">
						<div class="col-padding">
							<h3>Nono período</h3>

							<table class="table table-condensed table-hover">
								<tr>
									<td class="active" th:text="'Ano: ' + ${nove_ano}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Semestre: ' + ${semestre9}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Área: ' + ${nove_area}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Prof: ' + ${nove_prof}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Situação: ' + ${nove_situacao}"></td>
								</tr>
								<tr>
									<td class="active" th:text="'1° Nota: ' + ${nove_nota_1}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'2° Nota: ' + ${nove_nota_2}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'3° Nota: ' + ${nove_nota_3}"></td>
								</tr>

								<tr>
									<td class="active"
										th:text="'Frequência: ' + ${nove_frequencia}"></td>
								</tr>


								<tr>
									<td class="active"
										th:text="'Nota Final: ' + ${nove_nota_final}"></td>
								</tr>


								<tr>
									<td class="active" th:text="'Obs: ' + ${nove_obs}"></td>
								</tr>


								<tr>
									<td class="active"><strong th:switch="${nove_apto}">
											<label th:case="1">APTO</label> <label th:case="0">INAPTO</label>
											<label th:case="2">A CURSAR</label>
									</strong></td>
								</tr>


								<tr>
									<td class="active"><strong>Fechamento</strong></td>
								</tr>
								<tr>
									<td class="active">
										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#nono_periodo">
											<em class="fa fa-pencil"></em>
										</button>
									</td>
								</tr>

							</table>



						</div>
					</div>
					<div class="col-sm-3 col-xs-3">
						<div class="col-padding">
							<h3>Décimo período</h3>


							<table class="table table-condensed table-hover">
								<!-- On rows -->

								<!-- On cells (`td` or `th`) -->
								<tr>
									<td class="active" th:text="'Ano: ' + ${dez_ano}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Semestre: ' + ${semestre10}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Área: ' + ${dez_area}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Prof: ' + ${dez_prof}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Situação: ' + ${dez_situacao}"></td>
								</tr>
								<tr>
									<td class="active" th:text="'1° Nota: ' + ${dez_nota_1}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'2° Nota: ' + ${dez_nota_2}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'3° Nota: ' + ${dez_nota_3}"></td>
								</tr>

								<tr>
									<td class="active" th:text="'Frequência: ' + ${dez_frequencia}"></td>
								</tr>


								<tr>
									<td class="active" th:text="'Nota Final: ' + ${dez_nota_final}"></td>
								</tr>


								<tr>
									<td class="active" th:text="'Obs: ' + ${dez_obs}"></td>
								</tr>


								<tr>
									<td class="active"><strong th:switch="${dez_apto}">
											<label th:case="1">APTO</label> <label th:case="0">INAPTO</label>
											<label th:case="2">A CURSAR</label>
									</strong></td>
								</tr>


								<tr>
									<td class="active"><strong>Fechamento</strong></td>
								</tr>
								<tr>
									<td class="active">
										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#decimo_periodo">
											<em class="fa fa-pencil"></em>
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>


					<div class="row frequencia">
						<div class="col-md-12">
							<table class="table table-hover">
								<tbody>
									<tr>
										<td class="active"><strong
											th:text="'Frequência Total: ' + ${soma_frequencia}"></strong></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<form>
					<div class="row visitas">
						<div class="col-sm-13 col-xs-13">
							<h3>Visitas Realizadas</h3>
							
							<table class="table table-responsive table-condensed table-hover">
								<thead>
									<tr>
										<th>Data</th>
										<th>Histórico</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="visita : ${visitas}" class="active">
										<td th:text="${visita.data}"></td>
										<td th:text="${visita.historico}"></td>
										<td>
											 <a th:href="${'/npj/delete/visitas' + '/' + visita.id_visita + '/' + visita.idaluno + '/'}" class="btn btn-default btn-xs"><em class="fa fa-trash"></em></a>
										</td>
									</tr>
								</tbody>
							</table>
							

							<button class="btn btn-default pull-right" data-toggle="modal"
								data-target="#add_visitas">
								<i class="fa fa-plus" aria-hidden="true"></i> Adicionar Visitas
							</button>
						</div>
					</div>
					</form>


					<button class="btn btn-default center-block"
						onclick="window.print()">
						<i class="fa fa-print" aria-hidden="true"></i> Imprimir Relatório
					</button>


					<div class="rodapeprint">
						<div class="row">
						<div class="col-xs-4">
						<p>ASSINATURA DO ACADÊMICO</p>
						<p>------------------------------</p>
						</div>
						
						<div class="col-xs-4">						
							<h3><strong>LUIZ CARLOS ROCHA DE PAULA</strong></h3>
							
							<h3><strong>COORDENADOR NPJ-OAB 39.303</strong></h3>

						</div>
						
						<div class="col-xs-4">
						<p>ASSINATURA DO COORDENADOR DO CURSO DE DIREITO</p>
						<p>------------------------------</p>
						</div>
						</div>
					</div>



				</div>
			</div>


		</div>
	</div>









	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->
	<!--  MODAL -->

	<!-- MODAL  -->




	<!-- Modal  Adcionar Visitas -->
	<div class="modal fade" id="add_visitas" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Adcionar Novas
						Visitas</h4>
				</div>
				<div class="modal-body">

					<form th:action="@{/npj/create/visitas/}"
						th:object="${visitasform}" method="POST">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-2">
								<div class="col-xs-10 col-sm-10">
									<div class="form-group">
										<label for="exampleInputPassword1">ID Aluno</label> <input
											class="form-control " type="text" placeholder="ID Aluno"
											th:name="idaluno" th:id="idaluno" th:value="${id_aluno}"
											readonly="readonly" />
									</div>
								</div>
								<div class="col-xs-10 col-sm-10">
									<!-- th:name="sete_ano" th:id="sete_ano" th:value="${sete_ano}"  -->
									<div class="form-group">
										<label for="exampleInputPassword1">Data da Visita:</label> 
											<input
											class="form-control" id="datavisita" name="datavisita" type="text" placeholder="Data"
											required="required" th:field="*{data}" th:value="${data}" />
									</div>
								</div>
								<div class="col-xs-10 col-sm-10">
									<div class="form-group">
										<label for="exampleInputPassword1">Descrição</label> <input
											class="form-control " th:field="*{historico}" type="text" placeholder="Descrição"
											required="required" />
									</div>
								</div>
							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fechar</button>
							<button class="btn btn-primary">Salvar alterações</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--  End Adcionar Visitas -->


































	<!-- Modal  Setimo Período -->
	<div class="modal fade" id="setimo_periodo" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Sétimo Período</h4>
				</div>
				<div class="modal-body">

					<form th:action="@{/npj/edit/notas/setimo/periodo}"
						th:object="${nform}" method="POST">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">ID Aluno</label> <input
										class="form-control " type="text" placeholder="ID Aluno"
										th:name="idaluno" th:id="idaluno" th:value="${id_aluno}"
										readonly="readonly" />
								</div>
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Ano</label> <input
										class="form-control " type="text" placeholder="Ano"
										th:name="sete_ano" th:id="sete_ano" th:value="${sete_ano}"
										required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Semestre</label> <input
										class="form-control " type="text" placeholder="Semestre"
										th:name="semestre7" th:id="semestre7" th:value="${semestre7}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Área</label>
										<select class="form-control" th:id="sete_area" th:name="sete_area">
											<option th:value="${sete_area}" th:switch="${sete_area}" selected="selected" th:text="${sete_area}"></option>
											<option value="TRABALHISTA">TRABALHISTA</option>
											<option value="CÍVEL">CÍVEL</option>
											<option value="CRIMINAL">CRIMINAL</option>
										</select>
								</div>
							</div>



							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Prof</label> 
									<select class="form-control" th:id="sete_id_professor" th:name="sete_id_professor">
										<option
										th:each="professorlist : ${professorlist}"
										th:selected="${professorlist.id == sete_prof_id}"
										th:value="${professorlist.id}" th:text="${professorlist.nome}"></option>
									</select>
<!-- 									<input
										class="form-control " type="text" placeholder="Prof"
										th:name="sete_id_professor" th:id="sete_id_professor"
										th:value="${sete_prof}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Situação</label> 
									<select class="form-control" th:id="sete_situacao" th:name="sete_situacao">
										<option
										th:each="situacaolist : ${situacaolist}"
										th:selected="${situacaolist.id == sete_situacao_id}"
										th:value="${situacaolist.id}" th:text="${situacaolist.descricao}"></option>
									</select>
<!-- 									<input
										class="form-control " type="text" placeholder="Situação"
										th:name="sete_situacao" th:id="sete_situacao"
										th:value="${sete_situacao}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">1° Nota</label> <input
										class="form-control " type="text" placeholder="1° Nota"
										th:name="sete_nota1" th:id="sete_nota1"
										th:value="${sete_nota_1}" required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">2° Nota</label> <input
										class="form-control " type="text" placeholder="2° Nota"
										th:name="sete_nota2" th:id="sete_nota2"
										th:value="${sete_nota_2}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">3° Nota</label> <input
										class="form-control " type="text" placeholder="3° Nota"
										th:name="sete_nota3" th:id="sete_nota3"
										th:value="${sete_nota_3}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Frequência</label> <input
										class="form-control " type="text" placeholder="Frequência"
										th:name="sete_frequencia" th:id="sete_frequencia"
										th:value="${sete_frequencia}" required="required" />
								</div>
							</div>




							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Obs</label> <input
										class="form-control " type="text" placeholder="Obs"
										th:name="sete_obs" th:id="sete_obs" th:value="${sete_obs}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">APTO/INAPTO</label>
									<div th:if="${sete_apto == 1}">
										<select class="form-control" th:name="sete_apto"
											th:id="sete_apto" th:switch="${sete_apto}"
											required="required">
											<option value="1" selected="selected">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${sete_apto == 0}">
										<select class="form-control" th:name="sete_apto"
											th:id="sete_apto" th:switch="${sete_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0" selected="selected">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>
									
									<div th:if="${sete_apto == 2}">
										<select class="form-control" th:name="sete_apto"
											th:id="sete_apto" th:switch="${sete_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2" selected="selected">A CURSAR</option>
										</select>
									</div>
								</div>
							</div>



						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fechar</button>
							<button class="btn btn-primary">Salvar alterações</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--  End Setimo Período -->










































































































	<!-- Modal  Oitavo Período -->
	<div class="modal fade" id="oitavo_periodo" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Oitavo Período</h4>
				</div>
				<div class="modal-body">

					<form th:action="@{/npj/edit/notas/oitavo/periodo}"
						th:object="${nform}" method="POST">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">ID Aluno</label> <input
										class="form-control " type="text" placeholder="ID Aluno"
										th:name="idaluno" th:id="idaluno" th:value="${id_aluno}"
										readonly="readonly" />
								</div>
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Ano</label> <input
										class="form-control " type="text" placeholder="Ano"
										th:name="oito_ano" th:id="oito_ano" th:value="${oito_ano}"
										required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Semestre</label> <input
										class="form-control " type="text" placeholder="Semestre"
										th:name="semestre8" th:id="semestre8" th:value="${semestre8}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Área</label>
										<select class="form-control" th:id="oito_area" th:name="oito_area">
											<option th:value="${oito_area}" th:switch="${oito_area}" selected="selected" th:text="${oito_area}"></option>
											<option value="TRABALHISTA">TRABALHISTA</option>
											<option value="CÍVEL">CÍVEL</option>
											<option value="CRIMINAL">CRIMINAL</option>
										</select>										
								</div>
							</div>



							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Prof</label> 
									<select class="form-control" th:id="oito_id_professor" th:name="oito_id_professor">
										<option
										th:each="professorlist : ${professorlist}"
										th:selected="${professorlist.id == oito_prof_id}"
										th:value="${professorlist.id}" th:text="${professorlist.nome}"></option>
									</select>
<!-- 									<input
										class="form-control " type="text" placeholder="Prof"
										th:name="oito_id_professor" th:id="oito_id_professor"
										th:value="${oito_prof}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Situação</label> 
									<select class="form-control" th:id="oito_situacao" th:name="oito_situacao">
										<option
										th:each="situacaolist : ${situacaolist}"
										th:selected="${situacaolist.id == oito_situacao_id}"
										th:value="${situacaolist.id}" th:text="${situacaolist.descricao}"></option>
									</select>
<!-- 									<input
										class="form-control " type="text" placeholder="Situação"
										th:name="oito_situacao" th:id="oito_situacao"
										th:value="${oito_situacao}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">1° Nota</label> <input
										class="form-control " type="text" placeholder="1° Nota"
										th:name="oito_nota1" th:id="oito_nota1"
										th:value="${oito_nota_1}" required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">2° Nota</label> <input
										class="form-control " type="text" placeholder="2° Nota"
										th:name="oito_nota2" th:id="oito_nota2"
										th:value="${oito_nota_2}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">3° Nota</label> <input
										class="form-control " type="text" placeholder="3° Nota"
										th:name="oito_nota3" th:id="oito_nota3"
										th:value="${oito_nota_3}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Frequência</label> <input
										class="form-control " type="text" placeholder="Frequência"
										th:name="oito_frequencia" th:id="oito_frequencia"
										th:value="${oito_frequencia}" required="required" />
								</div>
							</div>




							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Obs</label> <input
										class="form-control " type="text" placeholder="Obs"
										th:name="oito_obs" th:id="oito_obs" th:value="${oito_obs}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">APTO/INAPTO</label>
									<div th:if="${oito_apto == 1}">
										<select class="form-control" th:name="oito_apto"
											th:id="oito_apto" th:switch="${oito_apto}"
											required="required">
											<option value="1" selected="selected">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${oito_apto == 0}">
										<select class="form-control" th:name="oito_apto"
											th:id="oito_apto" th:switch="${oito_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0" selected="selected">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${oito_apto == 2}">
										<select class="form-control" th:name="oito_apto"
											th:id="oito_apto" th:switch="${oito_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2" selected="selected">A CURSAR</option>
										</select>
									</div>

								</div>
							</div>



						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fechar</button>
							<button class="btn btn-primary">Salvar alterações</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--  End Oitavo Período -->

























































	<!-- Modal  Nono Período -->
	<div class="modal fade" id="nono_periodo" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Nono Período</h4>
				</div>
				<div class="modal-body">

					<form th:action="@{/npj/edit/notas/nono/periodo}"
						th:object="${nform}" method="POST">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">ID Aluno</label> <input
										class="form-control " type="text" placeholder="ID Aluno"
										th:name="idaluno" th:id="idaluno" th:value="${id_aluno}"
										readonly="readonly" />
								</div>
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Ano</label> <input
										class="form-control " type="text" placeholder="Ano"
										th:name="nove_ano" th:id="nove_ano" th:value="${nove_ano}"
										required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Semestre</label> <input
										class="form-control " type="text" placeholder="Semestre"
										th:name="semestre9" th:id="semestre9" th:value="${semestre9}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Área</label>
										<select class="form-control" th:id="nove_area" th:name="nove_area">
											<option th:value="${nove_area}" th:switch="${nove_area}" selected="selected" th:text="${nove_area}"></option>
											<option value="TRABALHISTA">TRABALHISTA</option>
											<option value="CÍVEL">CÍVEL</option>
											<option value="CRIMINAL">CRIMINAL</option>
										</select>											
								</div>
							</div>



							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Prof</label>
									<select class="form-control" th:id="nove_id_professor" th:name="nove_id_professor">
										<option
										th:each="professorlist : ${professorlist}"
										th:selected="${professorlist.id == nove_prof_id}"
										th:value="${professorlist.id}" th:text="${professorlist.nome}"></option>
									</select>									
<!-- 									 <input
										class="form-control " type="text" placeholder="Prof"
										th:name="nove_id_professor" th:id="nove_id_professor"
										th:value="${nove_prof}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Situação</label> 
									<select class="form-control" th:id="nove_situacao" th:name="nove_situacao">
										<option
										th:each="situacaolist : ${situacaolist}"
										th:selected="${situacaolist.id == nove_situacao_id}"
										th:value="${situacaolist.id}" th:text="${situacaolist.descricao}"></option>
									</select>
<!-- 										<input
										class="form-control " type="text" placeholder="Situação"
										th:name="nove_situacao" th:id="nove_situacao"
										th:value="${nove_situacao}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">1° Nota</label> <input
										class="form-control " type="text" placeholder="1° Nota"
										th:name="nove_nota1" th:id="nove_nota1"
										th:value="${nove_nota_1}" required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">2° Nota</label> <input
										class="form-control " type="text" placeholder="2° Nota"
										th:name="nove_nota2" th:id="nove_nota2"
										th:value="${nove_nota_2}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">3° Nota</label> <input
										class="form-control " type="text" placeholder="3° Nota"
										th:name="nove_nota3" th:id="nove_nota3"
										th:value="${nove_nota_3}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Frequência</label> <input
										class="form-control " type="text" placeholder="Frequência"
										th:name="nove_frequencia" th:id="nove_frequencia"
										th:value="${nove_frequencia}" required="required" />
								</div>
							</div>




							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Obs</label> <input
										class="form-control " type="text" placeholder="Obs"
										th:name="nove_obs" th:id="nove_obs" th:value="${nove_obs}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">APTO/INAPTO</label>
									<div th:if="${nove_apto == 1}">
										<select class="form-control" th:name="nove_apto"
											th:id="nove_apto" th:switch="${nove_apto}"
											required="required">
											<option value="1" selected="selected">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${nove_apto == 0}">
										<select class="form-control" th:name="nove_apto"
											th:id="nove_apto" th:switch="${nove_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0" selected="selected">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>
									
									<div th:if="${nove_apto == 2}">
										<select class="form-control" th:name="nove_apto"
											th:id="nove_apto" th:switch="${nove_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2" selected="selected">A CURSAR</option>
										</select>
									</div>									
									

								</div>
							</div>



						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fechar</button>
							<button class="btn btn-primary">Salvar alterações</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--  End Nono Período -->











































	<!-- Modal  Décimo Período -->
	<div class="modal fade" id="decimo_periodo" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Décimo Período</h4>
				</div>
				<div class="modal-body">

					<form th:action="@{/npj/edit/notas/decimo/periodo}"
						th:object="${nform}" method="POST">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">ID Aluno</label> <input
										class="form-control " type="text" placeholder="ID Aluno"
										th:name="idaluno" th:id="idaluno" th:value="${id_aluno}"
										readonly="readonly" />
								</div>
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Ano</label> <input
										class="form-control " type="text" placeholder="Ano"
										th:name="dez_ano" th:id="dez_ano" th:value="${dez_ano}"
										required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Semestre</label> <input
										class="form-control " type="text" placeholder="Semestre"
										th:name="semestre10" th:id="semestre10"
										th:value="${semestre10}" required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Área</label>
										<select class="form-control" th:id="dez_area" th:name="dez_area">
											<option th:value="${dez_area}" th:switch="${dez_area}" selected="selected" th:text="${dez_area}"></option>
											<option value="TRABALHISTA">TRABALHISTA</option>
											<option value="CÍVEL">CÍVEL</option>
											<option value="CRIMINAL">CRIMINAL</option>
										</select>										
								</div>
							</div>



							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Prof</label> 
									<select class="form-control" th:id="dez_id_professor" th:name="dez_id_professor">
										<option
										th:each="professorlist : ${professorlist}"
										th:selected="${professorlist.id == dez_prof_id}"
										th:value="${professorlist.id}" th:text="${professorlist.nome}"></option>
									</select>										
<!-- 									<input
										class="form-control " type="text" placeholder="Prof"
										th:name="dez_id_professor" th:id="dez_id_professor"
										th:value="${dez_prof}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Situação</label> 
									<select class="form-control" th:id="dez_situacao" th:name="dez_situacao">
										<option
										th:each="situacaolist : ${situacaolist}"
										th:selected="${situacaolist.id == dez_situacao_id}"
										th:value="${situacaolist.id}" th:text="${situacaolist.descricao}"></option>
									</select>
<!-- 									<input
										class="form-control " type="text" placeholder="Situação"
										th:name="dez_situacao" th:id="dez_situacao"
										th:value="${dez_situacao}" required="required" /> -->
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">1° Nota</label> <input
										class="form-control " type="text" placeholder="1° Nota"
										th:name="dez_nota1" th:id="dez_nota1" th:value="${dez_nota_1}"
										required="required" />
								</div>
							</div>

							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">2° Nota</label> <input
										class="form-control " type="text" placeholder="2° Nota"
										th:name="dez_nota2" th:id="dez_nota2" th:value="${dez_nota_2}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">3° Nota</label> <input
										class="form-control " type="text" placeholder="3° Nota"
										th:name="dez_nota3" th:id="dez_nota3" th:value="${dez_nota_3}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Frequência</label> <input
										class="form-control " type="text" placeholder="Frequência"
										th:name="dez_frequencia" th:id="dez_frequencia"
										th:value="${dez_frequencia}" required="required" />
								</div>
							</div>




							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">Obs</label> <input
										class="form-control " type="text" placeholder="Obs"
										th:name="dez_obs" th:id="dez_obs" th:value="${dez_obs}"
										required="required" />
								</div>
							</div>


							<div class="col-xs-6 col-sm-4">
								<div class="form-group">
									<label for="exampleInputPassword1">APTO/INAPTO</label>
									<div th:if="${dez_apto == 1}">
										<select class="form-control" th:name="dez_apto"
											th:id="dez_apto" th:switch="${dez_apto}" required="required">
											<option value="1" selected="selected">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${dez_apto == 0}">
										<select class="form-control" th:name="dez_apto"
											th:id="dez_apto" th:switch="${dez_apto}" required="required">
											<option value="1">APTO</option>
											<option value="0" selected="selected">INAPTO</option>
											<option value="2">A CURSAR</option>
										</select>
									</div>

									<div th:if="${dez_apto == 2}">
										<select class="form-control" th:name="dez_apto"
											th:id="dez_apto" th:switch="${dez_apto}"
											required="required">
											<option value="1">APTO</option>
											<option value="0">INAPTO</option>
											<option value="2" selected="selected">A CURSAR</option>
										</select>
									</div>	
									
								</div>
							</div>



						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fechar</button>
							<button class="btn btn-primary">Salvar alterações</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--  End Décimo Período -->

































	<div th:replace="npj/default :: js">
	</div>


	<script type="text/javascript">
	
	jQuery(function($){
		   $("#datavisita").mask("99/99/9999");
	
		});
	
	</script>	
</body>
</html>
